# **MongoDB**

In [3]:
# Menghubungkan MongoDB
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

username = 'root'  # MongoDB username
password = '1234abcd'  # MongoDB password

# MongoDB connection with authentication
client = MongoClient(f'mongodb://{username}:{password}@localhost:27017/')

# Cek Koneksi
try:
    client.admin.command('ping')
    print("Koneksi MongoDB Berhasil!")
except Exception as e:
    print(e)

Koneksi MongoDB Berhasil!

In [4]:
import pandas as pd
db = client["TIKET"]

In [5]:
# Insert records into MongoDB
db.orders.drop()
db.flight_prices.drop()
db.customer.drop()

### Insert to Database

In [6]:
orders_df = pd.read_csv("data/orders.csv")
flight_prices_df = pd.read_csv("data/flight_prices.csv")
customer_df = pd.read_csv("data/customer.csv")

orders_df["depart_date"] = pd.to_datetime(orders_df["depart_date"]).dt.to_pydatetime()
orders_df["order_date"] = pd.to_datetime(orders_df["order_date"]).dt.to_pydatetime()

flight_prices_df["depart_date"] = pd.to_datetime(flight_prices_df["depart_date"]).dt.to_pydatetime()

db.orders.insert_many(orders_df.to_dict("records"))
db.flight_prices.insert_many(flight_prices_df.to_dict("records"))
db.customer.insert_many(customer_df.to_dict("records"))

print("Data berhasil diupload ulang ke MongoDB dengan datetime support.")

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/1993836431.py:5: FutureWarning: The behavior of DatetimeProperties.to_pydatetime is deprecated, in a future version this will return a Series containing python datetime objects instead of an ndarray. To retain the old behavior, call `np.array` on the result
  orders_df["depart_date"] = pd.to_datetime(orders_df["depart_date"]).dt.to_pydatetime()
/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/1993836431.py:6: FutureWarning: The behavior of DatetimeProperties.to_pydatetime is deprecated, in a future version this will return a Series containing python datetime objects instead of an ndarray. To retain the old behavior, call `np.array` on the result
  orders_df["order_date"] = pd.to_datetime(orders_df["order_date"]).dt.to_pydatetime()
/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/1993836431.py:8: FutureWarning: The behavior of DatetimeProperties.to_pydatetime is deprecated, in a future version this will return a Series containing python datetime objects instead of an ndarray. To retain the old behavior, call `np.array` on the result
  flight_prices_df["depart_date"] = pd.to_datetime(flight_prices_df["depart_date"]).dt.to_pydatetime()

Data berhasil diupload ulang ke MongoDB dengan datetime support.

In [7]:
orders_df = pd.DataFrame(list(db.orders.find({}, {"_id": 0})))
print("\n 5 Data Teratas dari Koleksi orders di MongoDB tanpa _id:")
display(orders_df.head())

 5 Data Teratas dari Koleksi orders di MongoDB tanpa _id:

,order_id,customer_id,order_date,origin,destination,depart_date,price_per_passenger,num_passenger,total_price,status,flight_id
0,ab03d6db-873c-460c-9e80-adcd929d1a13,35c9bb4c-2659-4e2d-ab66-e2126c29360f,2025-04-25 01:54:19,KJX,WET,2023-05-07,864166,3,2334313,cancelled,15796
1,0acca81a-6a5d-4dd7-b34e-3a107cc73565,8e5d1fe6-ee10-4896-a8f1-5f8db0ac86b9,2024-12-31 00:44:08,LUV,BNE,2023-04-07,1340879,1,1882503,pending,861
2,49760520-57cc-4954-ab28-e11c407a782b,c9eba774-02a5-4c59-a6ba-c87156c9b4f5,2025-02-14 04:32:21,LUW,MKF,2023-03-12,859869,1,1466713,confirmed,38159
3,b5baf01c-b467-4daa-a029-26a8ca81c508,d6b27de7-1da0-4c43-80cb-d7c44eac5461,2025-04-24 20:59:53,DRH,BKS,2023-07-22,1047249,3,1732273,cancelled,44733
4,b077a514-e295-4109-af6a-0c70ae3629e8,5ea0858a-419b-4c5c-8585-71ad6bf10110,2025-03-21 17:53:05,DOB,KWB,2023-05-03,789175,3,1519336,confirmed,11285

In [8]:
customer_df = pd.DataFrame(list(db.customer.find({}, {"_id": 0})))
print("\n 5 Data Teratas dari Koleksi customer di MongoDB tanpa _id:")
display(customer_df.head())

 5 Data Teratas dari Koleksi customer di MongoDB tanpa _id:

,customer_id,full_name,email,phone,created_at
0,35c9bb4c-2659-4e2d-ab66-e2126c29360f,Ardra Sherratt,asherratt0@ow.ly,556-746-8941,5/8/2025 23:43:11
1,8e5d1fe6-ee10-4896-a8f1-5f8db0ac86b9,Lynnet Quinion,lquinion1@slideshare.net,720-855-8109,12/25/2024 15:39:10
2,c9eba774-02a5-4c59-a6ba-c87156c9b4f5,Darren Bootell,dbootell2@4shared.com,110-368-3668,3/28/2025 16:26:59
3,d6b27de7-1da0-4c43-80cb-d7c44eac5461,Jacquette Grigoli,jgrigoli3@pagesperso-orange.fr,914-167-0045,4/14/2025 03:03:31
4,5ea0858a-419b-4c5c-8585-71ad6bf10110,Tatiania Glavin,tglavin4@wikipedia.org,550-187-2371,12/11/2024 17:11:38

In [9]:
flight_prices_df = pd.DataFrame(list(db.flight_prices.find({}, {"_id": 0})))
print("\n 5 Data Teratas dari Koleksi flight_prices di MongoDB tanpa _id:")
display(flight_prices_df.head())

 5 Data Teratas dari Koleksi flight_prices di MongoDB tanpa _id:

   id origin destination depart_date  best_price
0   1    TJG         KSR  2023-04-25   2310582.0
1   2    AAS         TPK  2023-04-04   2310582.0
2   3    PSU         NKD  2023-04-27   2310582.0
3   4    PDG         TMB  2023-04-29   2310582.0
4   5    BUW         CPF  2023-04-01   2316313.0

In [10]:
from datetime import datetime

orders_df['depart_date'] = pd.to_datetime(orders_df['depart_date'], errors='coerce')
ramadhan_orders = orders_df[
    (orders_df['depart_date'] >= '2023-03-10') &
    (orders_df['depart_date'] <= '2023-04-09')
]

total_penjualan = ramadhan_orders['total_price'].sum()
print("Total Penjualan Selama Ramadhan:", total_penjualan)

Total Penjualan Selama Ramadhan: 3873433805

### **QUERY MongoDB**

Fokus: Menemukan rute dengan selisih harga (profit margin) tertinggi selama Ramadhan

Query ini digunakan untuk mencari rute penerbangan yang menghasilkan keuntungan tertinggi selama bulan Ramadhan.

Cara kerjanya:

- Ambil data transaksi tiket pesawat dari database orders.

- Filter hanya data yang tanggal keberangkatannya antara 10 Maret sampai 9 April 2023 (periode Ramadhan).

- Gabungkan dengan data harga asli penerbangan (flight_prices) berdasarkan flight_id.

- Hitung selisih antara harga jual dan harga asli (keuntungan).

- Kelompokkan berdasarkan asal dan tujuan penerbangan.

- Hitung rata-rata selisih harga (avg_diff) untuk tiap rute.

- Urutkan dari yang paling besar keuntungan rata-ratanya.

- Ambil 10 rute paling untung.

In [11]:
# Mengambil koleksi 'orders' dari database
orders = db["orders"]

# Mendefinisikan jendela waktu Ramadhan
start = datetime(2023, 3, 10)
end = datetime(2023, 4, 9, 23, 59)

# Pipeline agregasi: filter berdasarkan tanggal, kemudian jumlahkan total_price
pipeline = [
    { 
        "$match": {
            "depart_date": { "$gte": start, "$lte": end }
        }
    },
    { 
        "$group": {
            "_id": None,
            "totalPenjualan": { "$sum": "$total_price" }
        }
    }
]

# Menjalankan agregasi
res = list(orders.aggregate(pipeline))

# Menyimpan total penjualan
total_penjualan = res[0]["totalPenjualan"] if res else 0

# Menampilkan hasil total penjualan selama Ramadhan
print("Total Penjualan Selama Ramadhan:", total_penjualan)

Total Penjualan Selama Ramadhan: 3873433805

In [12]:
pipeline = [
    {
        "$match": {
            "depart_date": {
                "$gte": datetime(2023, 3, 10),
                "$lte": datetime(2023, 4, 9)
            }
        }
    },
    {
        "$lookup": {
            "from": "flight_prices",
            "localField": "flight_id",
            "foreignField": "id",
            "as": "flight_info"
        }
    },
    { "$unwind": "$flight_info" },
    {
        "$addFields": {
            "price_diff": { "$subtract": ["$total_price", "$flight_info.best_price"] }
        }
    },
    {
        "$group": {
            "_id": {
                "origin": "$origin",
                "destination": "$destination"
            },
            "total_order": { "$sum": 1 },
            "total_revenue": { "$sum": "$total_price" },
            "avg_diff": { "$avg": "$price_diff" }
        }
    },
    { "$sort": { "avg_diff": -1 } },
    { "$limit": 10 },
    {
        "$project": {
            "_id": 0,
            "origin": "$_id.origin",
            "destination": "$_id.destination",
            "total_order": 1,
            "total_revenue": 1,
            "avg_diff": 1
        }
    }
]

result = list(db.orders.aggregate(pipeline))

df_result = pd.DataFrame(result)

print("10 Rute Paling Menguntungkan Selama Ramadhan")
print(df_result)

10 Rute Paling Menguntungkan Selama Ramadhan
   total_order  total_revenue   avg_diff origin destination
0            1        2608934  2201825.0    MNA         WAR
1            1        2621382  2145722.0    INX         MKF
2            1        2536720  2130712.0    SWQ         KOD
3            1        2635771  2111291.0    BWX         TRT
4            1        2585839  2110179.0    TNJ         SHE
5            1        2625806  2094336.0    SKO         MAL
6            1        2632838  2070358.0    RDE         SOQ
7            1        2636476  2017746.0    LBJ         MTW
8            1        2423710  2013601.0    JOG         LWE
9            2        4743424  1971603.0    TMH         LMU

### Skenario Indexing MongoDB

In [13]:
from datetime import datetime

start_time_before = datetime.now()
result_before = list(db.orders.aggregate(pipeline))
end_time_before = datetime.now()

mongodb_before = (end_time_before - start_time_before).total_seconds() * 1000  # dalam ms

print(f"Waktu query sebelum indexing: {mongodb_before:.2f} ms")

Waktu query sebelum indexing: 23804.86 ms

In [14]:
# Drop semua index pada semua koleksi di database MongoDB
db.orders.drop_indexes()
db.flight_prices.drop_indexes()
db.customer.drop_indexes()
print("✅ Semua index pada seluruh koleksi di database MongoDB berhasil dihapus.")

✅ Semua index pada seluruh koleksi di database MongoDB berhasil dihapus.

In [15]:
# Buat index pada kolom 'id' di koleksi 'flight_prices'
db.flight_prices.create_index([("id", 1)])

# Buat index pada kolom 'depart_date' dan 'flight_id' di koleksi 'orders'
db.orders.create_index([("depart_date", 1), ("flight_id", 1)])

print("✅ Index berhasil dibuat")

✅ Index berhasil dibuat

In [16]:
from datetime import datetime

start_time_after = datetime.now()
result_after = list(db.orders.aggregate(pipeline))
end_time_after = datetime.now()

mongodb_after = (end_time_after - start_time_after).total_seconds() * 1000  # dalam ms

print(f"Waktu query setelah indexing: {mongodb_after:.2f} ms")

Waktu query setelah indexing: 55.73 ms

In [41]:
import pandas as pd

mongo_index_time = pd.DataFrame({
    "Waktu Query (ms)": [mongodb_before, mongodb_after],
    "Keterangan": ["Sebelum Indexing", "Setelah Indexing"]
})
mongo_index_time["Waktu Query (ms)"] = mongo_index_time["Waktu Query (ms)"].apply(lambda x: f"{x:.2f} ms")
print("\nWaktu Query MongoDB Sebelum dan Setelah Indexing:")
display(mongo_index_time)

Waktu Query MongoDB Sebelum dan Setelah Indexing:

  Waktu Query (ms)        Keterangan
0      23804.86 ms  Sebelum Indexing
1         55.73 ms  Setelah Indexing

# **Neo4j**

In [18]:
import neo4j
from neo4j import GraphDatabase
import pandas as pd

# Neo4j
NEO4J_URI      = "bolt://localhost:7687"
NEO4J_USER     = "neo4j"
NEO4J_PASSWORD = "yourStrongPassword"

driver = GraphDatabase.driver(NEO4J_URI, auth=(NEO4J_USER, NEO4J_PASSWORD))

### Insert to Database

In [19]:
# Insert records into Neo4j

airport_df = pd.read_csv("data/airports.csv")
airport_df

,airport_name,city,province,airport_code
0,Bandar Udara Aek Godang,Padang Sidempuan,Sumatera Utara,AEG
1,Bandar Udara Alas Leuser,Aceh Tenggara,Aceh,LSR
2,Bandar Udara Bengkalis (Bandar Udara Meranti) ...,Bengkalis,Riau,SEQ
3,Bandar Udara Binaka,Gunung Sitoli,Sumatera Utara,GNS
4,Bandar Udara Blangkejeren (Bandar Udara Gayo L...,Gayo Lues,Aceh,GYO
...,...,...,...,...
238,Bandar Udara Waghete,Deiyai,Papua Tengah,WET
239,Bandar Udara Wamena,"Wamena, Jayawijaya",Papua Pegunungan,WMX
240,Bandar Udara Wasior,"Wasior, Teluk Wondama",Papua Barat,WSR
241,Bandar Udara Werur,Tambrauw,Papua Barat Daya,WRR
242,Bandar Udara Yuruf,"Yuruf, Keerom",Papua,RUF

In [20]:
airport_dist_df = pd.read_csv("data/airport_distances.csv")
airport_dist_df

          id airport_from airport_to  distance_km  flight_time_hr
0          1          AEG        KDI         3495            4.33
1          2          AEG        WUB         2716            3.38
2          3          AEG        MLG         1857            2.28
3          4          AEG        KRC         2266            2.70
4          5          AEG        YIA         2510            3.09
...      ...          ...        ...          ...             ...
11995  11996          RUF        TRT         1547            1.95
11996  11997          RUF        MXB         1495            1.92
11997  11998          RUF        TJQ         2776            3.53
11998  11999          RUF        SUP         1564            1.88
11999  12000          RUF        SIQ         3429            4.04

[12000 rows x 5 columns]

In [21]:
# Delete all existing nodes and relationships
def delete_all_nodes_and_relationships(tx):
    tx.run("MATCH (n) DETACH DELETE n")
with driver.session() as session:
    session.write_transaction(delete_all_nodes_and_relationships)

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/225338436.py:5: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(delete_all_nodes_and_relationships)

In [22]:
# Airport as nodes
def insert_airports(tx, airport_name, city, province, code):
    tx.run("""
        MERGE (a:Airport {airport_code: $code})
        SET a.airport_name = $airport_name, a.city = $city, a.province = $province
""", airport_name=airport_name, city=city, province=province, code=code)
    
# Route as relationships
def insert_routes(tx, from_code, to_code, distance, time):
    tx.run("""
        MATCH (a1:Airport {airport_code: $from_code})
        MATCH (a2:Airport {airport_code: $to_code})
        MERGE (a1)-[r:CONNECTED_TO]->(a2)
        SET r.distance_km = $distance, r.flight_time_hr = $time
""", from_code=from_code, to_code=to_code, distance=distance, time=time)
    
print("Memulai proses insert data ke Neo4j...")
# Insert data
with driver.session() as sess:
    for _, row in airport_df.iterrows():
        sess.write_transaction(insert_airports, row['airport_name'], row['city'], row['province'], row['airport_code'])
    
    for _, row in airport_dist_df.iterrows():
        sess.write_transaction(insert_routes, row['airport_from'], row['airport_to'], row['distance_km'], row['flight_time_hr'])

driver.close()
print("Data berhasil diinsert ke Neo4j")

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/736035942.py:21: DeprecationWarning: write_transaction has been renamed to execute_write
  sess.write_transaction(insert_airports, row['airport_name'], row['city'], row['province'], row['airport_code'])

Memulai proses insert data ke Neo4j...

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/736035942.py:24: DeprecationWarning: write_transaction has been renamed to execute_write
  sess.write_transaction(insert_routes, row['airport_from'], row['airport_to'], row['distance_km'], row['flight_time_hr'])

Data berhasil diinsert ke Neo4j

### Query

Menemukan Rute Penerbangan yang Paling Jauh

Query ini digunakan untuk mencari rute antar bandara yang jaraknya paling jauh, walaupun harus melewati 1 bandara lain di tengah jalan (jadi 2 kali naik pesawat).

Cara kerjanya:
- Cari semua jalur penerbangan dari satu bandara ke bandara lain, yang membutuhkan dua kali penerbangan.

- Hitung total jarak dan total waktu tempuh dari titik awal sampai titik akhir.

- Urutkan dari yang paling jauh.

- Ambil 10 rute paling panjang.

In [23]:
def get_longest_routes_no_index(tx):
    query = """
    MATCH (a:Airport)-[r:CONNECTED_TO]->(b:Airport)
    RETURN 
        a.airport_code AS origin,
        b.airport_code AS destination,
        r.distance_km AS distance_km,
        r.flight_time_hr AS flight_time_hr
    ORDER BY r.distance_km DESC
    LIMIT 50
    """
    return list(tx.run(query))

with driver.session() as session:
    result = session.execute_read(get_longest_routes_no_index)

df_routes = pd.DataFrame([dict(record) for record in result])
print("Top 10 rute terjauh (path):")
print(df_routes)

Top 10 rute terjauh (path):
   origin destination  distance_km  flight_time_hr
0     SEQ         JOG         3699            4.65
1     LUV         LWE         3699            4.62
2     NKD         KEQ         3699            4.53
3     AEG         KNG         3699            4.47
4     MOH         RJM         3698            4.89
5     ONI         TRK         3698            4.57
6     UOL         BJW         3698            4.79
7     BTH         TMY         3698            4.54
8     INX         TRT         3698            4.61
9     PPJ         MES         3697            4.83
10    BPN         KJX         3697            4.60
11    MKQ         KLP         3697            4.71
12    MOF         TTR         3697            4.51
13    LSE         RJM         3697            4.50
14    GAV         SQG         3696            4.65
15    TMY         LMU         3696            4.37
16    LUW         WGP         3696            4.49
17    MTW         GAV         3696            4.81
18    KRC         DEX         3696            4.73
19    BXB         KSR         3695            4.74
20    LUW         LSW         3695            4.82
21    KXB         BNE         3694            4.77
22    TMX         WUB         3694            4.42
23    PKU         GLX         3694            4.82
24    LSE         TTR         3694            4.91
25    AHI         AAS         3694            4.64
26    DJB         LSW         3693            4.71
27    LLN         LII         3693            4.41
28    KEQ         TNJ         3693            4.77
29    LHI         WNI         3692            4.72
30    RTG         EWE         3692            4.62
31    INX         LSW         3692            4.80
32    BTH         BJW         3692            4.35
33    ELR         MEQ         3692            4.64
34    GEB         SXK         3691            4.75
35    CGK         BWX         3691            4.35
36    TSY         FOO         3691            4.72
37    WHI         KDI         3691            4.61
38    MPC         PCB         3691            4.53
39    TFY         BXB         3690            4.53
40    WRR         GHS         3690            4.49
41    KJT         CJN         3688            4.81
42    AEG         TJC         3688            4.92
43    TMC         MES         3688            4.73
44    KEI         NKD         3688            4.66
45    PPJ         BJW         3688            4.80
46    MAL         CXP         3687            4.70
47    KJT         BTJ         3687            4.57
48    TBX         NAH         3687            4.92
49    SNX         LWE         3687            4.47

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/3524443172.py:14: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

In [24]:
def show_neo4j_indexes(tx):
    query = "SHOW INDEXES"
    result = tx.run(query)
    return [record.data() for record in result]

with driver.session() as session:
    indexes = session.execute_read(show_neo4j_indexes)
    for idx in indexes:
        print(idx)

{'id': 3, 'name': 'airport_code_index', 'state': 'ONLINE', 'populationPercent': 100.0, 'type': 'RANGE', 'entityType': 'NODE', 'labelsOrTypes': ['Airport'], 'properties': ['airport_code'], 'indexProvider': 'range-1.0', 'owningConstraint': None, 'lastRead': neo4j.time.DateTime(2025, 6, 1, 23, 20, 56, 490000000, tzinfo=<UTC>), 'readCount': 23675}
{'id': 1, 'name': 'index_343aff4e', 'state': 'ONLINE', 'populationPercent': 100.0, 'type': 'LOOKUP', 'entityType': 'NODE', 'labelsOrTypes': None, 'properties': None, 'indexProvider': 'token-lookup-1.0', 'owningConstraint': None, 'lastRead': neo4j.time.DateTime(2025, 6, 1, 16, 48, 5, 385000000, tzinfo=<UTC>), 'readCount': 84838}
{'id': 2, 'name': 'index_f7700477', 'state': 'ONLINE', 'populationPercent': 100.0, 'type': 'LOOKUP', 'entityType': 'RELATIONSHIP', 'labelsOrTypes': None, 'properties': None, 'indexProvider': 'token-lookup-1.0', 'owningConstraint': None, 'lastRead': neo4j.time.DateTime(2025, 6, 1, 16, 6, 12, 675000000, tzinfo=<UTC>), 'readCount': 18}

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/3831250558.py:6: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

In [25]:
def drop_all_constraints(tx):
    constraints = tx.run("SHOW CONSTRAINTS").data()
    for con in constraints:
        name = con.get("name")
        if name:
            try:
                tx.run(f"DROP CONSTRAINT `{name}` IF EXISTS")
                print(f"✅ Constraint '{name}' berhasil dihapus.")
            except Exception as e:
                print(f"❌ Gagal menghapus constraint '{name}': {e}")

def drop_all_indexes(tx):
    indexes = tx.run("SHOW INDEXES").data()
    for idx in indexes:
        # Abaikan index yang berasal dari constraint
        if idx.get("type") == "LOOKUP" or idx.get("uniqueness") == "UNIQUE":
            continue
        name = idx.get("name")
        if name and not name.startswith("constraint_"):
            try:
                tx.run(f"DROP INDEX `{name}` IF EXISTS")
                print(f"✅ Index '{name}' berhasil dihapus.")
            except Exception as e:
                print(f"❌ Gagal menghapus index '{name}': {e}")

# Jalankan di luar transaksi agar tidak konflik
with driver.session() as session:
    session.execute_write(drop_all_constraints)

with driver.session() as session:
    session.execute_write(drop_all_indexes)

✅ Index 'airport_code_index' berhasil dihapus.

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/263361861.py:27: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:
/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/263361861.py:30: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

### Skenario Indexing Neo4j

In [26]:
from datetime import datetime

def get_longest_routes(tx):
    query = """
    MATCH (a:Airport)-[r:CONNECTED_TO]->(b:Airport)
    WHERE r.distance_km > 1000 AND r.flight_time_hr IS NOT NULL
    RETURN 
        a.airport_code AS origin,
        b.airport_code AS destination,
        r.distance_km AS distance_km,
        r.flight_time_hr AS flight_time_hr
    ORDER BY r.distance_km DESC
    LIMIT 50
    """
    return list(tx.run(query))

start_time_before = datetime.now()
with driver.session() as session:
    result = session.execute_read(get_longest_routes)
end_time_before = datetime.now()

neo4j_before = (end_time_before - start_time_before).total_seconds() * 1000  # dalam ms

print(f"Waktu query sebelum indexing: {neo4j_before:.2f} ms")

Waktu query sebelum indexing: 24.18 ms

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/1932176549.py:18: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

In [27]:
# Buat index pada kolom 'id' di koleksi 'flight_prices'
db.flight_prices.create_index([("id", 1)])

print("✅ Index berhasil dibuat pada kolom 'id' di koleksi 'flight_prices'.")

def create_airport_code_index(tx):
    query = """
    CREATE INDEX airport_code_index FOR (n:Airport) ON (n.airport_code)
    """
    tx.run(query)

with driver.session() as session:
    try:
        session.execute_write(create_airport_code_index)
        print("✅ Index berhasil dibuat pada kolom 'airport_code' untuk node 'Airport' di Neo4j.")
    except Exception as e:
        print(f"❌ Gagal membuat index atau index sudah ada: {e}")

✅ Index berhasil dibuat pada kolom 'id' di koleksi 'flight_prices'.
✅ Index berhasil dibuat pada kolom 'airport_code' untuk node 'Airport' di Neo4j.

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/2143655823.py:12: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

In [28]:
from datetime import datetime

start_time_before = datetime.now()
with driver.session() as session:
    result = session.execute_read(get_longest_routes)
end_time_before = datetime.now()

neo4j_after = (end_time_before - start_time_before).total_seconds() * 1000  # dalam ms

print(f"Waktu query setelah indexing: {neo4j_after:.2f} ms")

Waktu query setelah indexing: 11.16 ms

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/186511817.py:4: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

In [42]:
import pandas as pd

neo4j_index_time = pd.DataFrame({
    "Waktu Query (ms)": [neo4j_before, neo4j_after],
    "Keterangan": ["Sebelum Indexing", "Setelah Indexing"]
})
neo4j_index_time["Waktu Query (ms)"] = neo4j_index_time["Waktu Query (ms)"].apply(lambda x: f"{x:.2f} ms")
print("\nWaktu Query Neo4j Sebelum dan Setelah Indexing:")
display(neo4j_index_time)

Waktu Query Neo4j Sebelum dan Setelah Indexing:

  Waktu Query (ms)        Keterangan
0         24.18 ms  Sebelum Indexing
1         11.16 ms  Setelah Indexing

# **Document (MongoDB) + Vektor (Neo4j)**

Mencari Rute yang Jauh dan Menguntungkan

Apa saja rute penerbangan yang jaraknya jauh dan keuntungannya besar selama Ramadhan?



---



Alurnya seperti ini:

- Dari Neo4j, kita cari rute-rute yang jaraknya paling jauh.

- Dari MongoDB, kita cari rute-rute yang keuntungannya paling besar selama Ramadhan.

- Kita gabungkan dua hasil tersebut → sehingga kita mendapatkan rute yang memenuhi dua syarat:

> - Rute Paling menguntungkan Selama Ramadhan, dan
> - Rute Transit Terjauh



---



Contohnya:
Misalnya hasil akhir menunjukkan rute Bandara CGK ke DPS:

>- Di Neo4j: Diketahui rutenya jauh dan memakan waktu lama.

>- Di MongoDB: Diketahui rute ini menghasilkan keuntungan rata-rata Rp 2 juta per order.

Artinya: “Rute CGK–DPS selain jauh, ternyata juga sangat menguntungkan saat Ramadhan.”

#### Drop Index

In [43]:
# prompt: reset index pada 'depart_date' dan 'flight_id' di koleksi 'orders'.

db.orders.drop_indexes()
print("✅ Semua index pada koleksi 'orders' berhasil di-reset.")

✅ Semua index pada koleksi 'orders' berhasil di-reset.

In [44]:
db.flight_prices.drop_indexes()
print("✅ Semua index pada koleksi 'flight_prices' berhasil di-reset.")

✅ Semua index pada koleksi 'flight_prices' berhasil di-reset.

In [45]:
def drop_connected_to_index(tx):
    query = """
    DROP INDEX connected_to_distance_time_index
    """
    tx.run(query)

with driver.session() as session:
    try:
        session.execute_write(drop_connected_to_index)
        print("✅ Index 'connected_to_distance_time_index' untuk relation 'CONNECTED_TO' di Neo4j berhasil di-reset.")
    except Exception as e:
        print(f"❌ Gagal mereset index atau index tidak ditemukan: {e}")

❌ Gagal mereset index atau index tidak ditemukan: {code: Neo.DatabaseError.Schema.IndexDropFailed} {message: Unable to drop index called `connected_to_distance_time_index`. There is no such index.}

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/2375002697.py:7: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

In [46]:
from datetime import datetime
import pandas as pd

# 1. Waktu eksekusi Neo4j
def get_longest_routes(tx):
    query = """
    MATCH (a:Airport)-[r:CONNECTED_TO]->(b:Airport)
    WHERE r.distance_km > 1000 AND r.flight_time_hr IS NOT NULL
    RETURN 
        a.airport_code AS origin,
        b.airport_code AS destination,
        r.distance_km AS distance_km,
        r.flight_time_hr AS flight_time_hr
    ORDER BY r.distance_km DESC
    LIMIT 30000
    """
    return list(tx.run(query))

start_neo4j = datetime.now()
with driver.session() as session:
    neo4j_results = session.execute_read(get_longest_routes)
end_neo4j = datetime.now()
neo4j_time_ms = (end_neo4j - start_neo4j).total_seconds() * 1000

neo4j_df = pd.DataFrame([dict(r) for r in neo4j_results])
print(f"Neo4j query execution time: {neo4j_time_ms:.2f} ms")

# 2. Waktu eksekusi MongoDB
pipeline = [
    {
        "$match": {
            "depart_date": {
                "$gte": datetime(2023, 3, 10),
                "$lte": datetime(2023, 4, 9)
            },
            "flight_id": {"$type": "int"}
        }
    },
    {
        "$lookup": {
            "from": "flight_prices",
            "localField": "flight_id",
            "foreignField": "id",
            "as": "flight_info"
        }
    },
    {"$unwind": "$flight_info"},
    {
        "$addFields": {
            "price_diff": {
                "$subtract": ["$total_price", "$flight_info.best_price"]
            }
        }
    },
    {
        "$group": {
            "_id": {
                "origin": "$origin",
                "destination": "$destination"
            },
            "avg_diff": {"$avg": "$price_diff"}
        }
    },
    {"$sort": {"avg_diff": -1}},
    {"$limit": 100},
    {
        "$project": {
            "_id": 0,
            "origin": "$_id.origin",
            "destination": "$_id.destination",
            "avg_diff": 1
        }
    }
]

start_mongo = datetime.now()
mongo_result = list(db.orders.aggregate(pipeline))
end_mongo = datetime.now()
mongo_time_ms = (end_mongo - start_mongo).total_seconds() * 1000

mongo_df = pd.DataFrame(mongo_result)
print(f"MongoDB aggregation execution time: {mongo_time_ms:.2f} ms")

# 3. Merge
start_merge = datetime.now()
combined_df = pd.merge(neo4j_df, mongo_df, on=["origin", "destination"], how="inner")
end_merge = datetime.now()
merge_time_ms = (end_merge - start_merge).total_seconds() * 1000

print(f"Pandas merge execution time: {merge_time_ms:.2f} ms")

# 4. Total waktu gabungan
total_time_ms_before = neo4j_time_ms + mongo_time_ms + merge_time_ms
print(f"Total execution time: {total_time_ms_before:.2f} ms")

# Menampilkan hasil akhir
print("Rute yang jauh (Neo4j) dan menguntungkan (MongoDB):")
print(combined_df)

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/2005736578.py:20: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

Neo4j query execution time: 150.50 ms
MongoDB aggregation execution time: 23853.73 ms
Pandas merge execution time: 6.88 ms
Total execution time: 24011.10 ms
Rute yang jauh (Neo4j) dan menguntungkan (MongoDB):
   origin destination  distance_km  flight_time_hr   avg_diff
0     SWQ         BXM         3645            4.81  1755924.0
1     OKL         PGK         3606            4.78  1949041.0
2     PDG         TTE         3563            4.29  1799704.0
3     UGU         AAP         3224            4.17  1851303.0
4     BDO         LWE         3145            3.87  1783238.0
5     AGD         PSJ         3124            3.83  1861812.0
6     SOQ         KBF         3020            3.77  1719858.0
7     PWL         GTO         2936            3.70  1874322.0
8     LBJ         MTW         2353            3.01  2017746.0
9     KNO         KEQ         2323            2.96  1806423.5
10    LKA         LOP         2232            2.86  1762442.0
11    LBW         NAM         2053            2.63  1956589.0
12    INX         MKF         2011            2.59  2145722.0
13    SRG         WNI         1941            2.33  1792677.0
14    WGP         SHE         1765            2.26  1763978.0
15    SEQ         KSR         1470            1.91  1805833.0
16    KOX         BDO         1387            1.71  1810062.0

#### Create Index

In [47]:
# prompt: buatkan query indexing untuk tabel order pada kolom departdate dan flight id pada db mongodb

# Buat index pada kolom 'depart_date' dan 'flight_id' di koleksi 'orders'
db.orders.create_index([("depart_date", 1), ("flight_id", 1)])

print("✅ Index berhasil dibuat pada kolom 'depart_date' dan 'flight_id' di koleksi 'orders'.")

✅ Index berhasil dibuat pada kolom 'depart_date' dan 'flight_id' di koleksi 'orders'.

In [48]:
# Buat index pada kolom 'id' di koleksi 'flight_prices'
db.flight_prices.create_index([("id", 1)])
print("✅ Index berhasil dibuat pada kolom 'id' di koleksi 'flight_prices'.")

# Buat index pada kolom 'airport_code' di node 'Airport' di Neo4j
def create_airport_code_index(tx):
    query = """
    CREATE INDEX airport_code_index FOR (n:Airport) ON (n.airport_code)
    """
    tx.run(query)

with driver.session() as session:
    try:
        session.execute_write(create_airport_code_index)
        print("✅ Index berhasil dibuat pada kolom 'airport_code' untuk node 'Airport' di Neo4j.")
    except Exception as e:
        print(f"❌ Gagal membuat index atau index sudah ada: {e}")

✅ Index berhasil dibuat pada kolom 'id' di koleksi 'flight_prices'.
❌ Gagal membuat index atau index sudah ada: {code: Neo.ClientError.Schema.EquivalentSchemaRuleAlreadyExists} {message: An equivalent index already exists, 'Index( id=5, name='airport_code_index', type='RANGE', schema=(:Airport {airport_code}), indexProvider='range-1.0' )'.}

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/1494265121.py:12: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

In [49]:
def create_connected_to_index(tx):
    query = """
    CREATE INDEX connected_to_distance_time_index FOR ()-[r:CONNECTED_TO]-() ON (r.distance_km, r.flight_time_hr)
    """
    tx.run(query)

with driver.session() as session:
    try:
        session.execute_write(create_connected_to_index)
        print("✅ Index berhasil dibuat pada kolom 'distance_km' dan 'flight_time_hr' untuk relation 'CONNECTED_TO' di Neo4j.")
    except Exception as e:
        print(f"❌ Gagal membuat index atau index sudah ada: {e}")

✅ Index berhasil dibuat pada kolom 'distance_km' dan 'flight_time_hr' untuk relation 'CONNECTED_TO' di Neo4j.

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/493513198.py:7: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

In [50]:
from datetime import datetime
import pandas as pd

# 1. Waktu eksekusi Neo4j
def get_longest_routes(tx):
    query = """
    MATCH (a:Airport)-[r:CONNECTED_TO]->(b:Airport)
    WHERE r.distance_km > 1000 AND r.flight_time_hr IS NOT NULL
    RETURN 
        a.airport_code AS origin,
        b.airport_code AS destination,
        r.distance_km AS distance_km,
        r.flight_time_hr AS flight_time_hr
    ORDER BY r.distance_km DESC
    LIMIT 30000
    """
    return list(tx.run(query))

start_neo4j = datetime.now()
with driver.session() as session:
    neo4j_results = session.execute_read(get_longest_routes)
end_neo4j = datetime.now()
neo4j_time_ms = (end_neo4j - start_neo4j).total_seconds() * 1000

neo4j_df = pd.DataFrame([dict(r) for r in neo4j_results])
print(f"Neo4j query execution time: {neo4j_time_ms:.2f} ms")

# 2. Waktu eksekusi MongoDB
pipeline = [
    {
        "$match": {
            "depart_date": {
                "$gte": datetime(2023, 3, 10),
                "$lte": datetime(2023, 4, 9)
            },
            "flight_id": {"$type": "int"}
        }
    },
    {
        "$lookup": {
            "from": "flight_prices",
            "localField": "flight_id",
            "foreignField": "id",
            "as": "flight_info"
        }
    },
    {"$unwind": "$flight_info"},
    {
        "$addFields": {
            "price_diff": {
                "$subtract": ["$total_price", "$flight_info.best_price"]
            }
        }
    },
    {
        "$group": {
            "_id": {
                "origin": "$origin",
                "destination": "$destination"
            },
            "avg_diff": {"$avg": "$price_diff"}
        }
    },
    {"$sort": {"avg_diff": -1}},
    {"$limit": 100},
    {
        "$project": {
            "_id": 0,
            "origin": "$_id.origin",
            "destination": "$_id.destination",
            "avg_diff": 1
        }
    }
]

start_mongo = datetime.now()
mongo_result = list(db.orders.aggregate(pipeline))
end_mongo = datetime.now()
mongo_time_ms = (end_mongo - start_mongo).total_seconds() * 1000

mongo_df = pd.DataFrame(mongo_result)
print(f"MongoDB aggregation execution time: {mongo_time_ms:.2f} ms")

# 3. Merge
start_merge = datetime.now()
combined_df = pd.merge(neo4j_df, mongo_df, on=["origin", "destination"], how="inner")
end_merge = datetime.now()
merge_time_ms = (end_merge - start_merge).total_seconds() * 1000

print(f"Pandas merge execution time: {merge_time_ms:.2f} ms")

# 4. Total waktu gabungan
total_time_ms_after = neo4j_time_ms + mongo_time_ms + merge_time_ms
print(f"Total execution time: {total_time_ms_after:.2f} ms")

# Menampilkan hasil akhir
print("Rute yang jauh (Neo4j) dan menguntungkan (MongoDB):")
print(combined_df)

/var/folders/hb/b1p7kpgj4s759vkptsfqzxzw0000gn/T/ipykernel_82987/1519084872.py:20: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:

Neo4j query execution time: 171.44 ms
MongoDB aggregation execution time: 54.48 ms
Pandas merge execution time: 2.73 ms
Total execution time: 228.65 ms
Rute yang jauh (Neo4j) dan menguntungkan (MongoDB):
   origin destination  distance_km  flight_time_hr   avg_diff
0     SWQ         BXM         3645            4.81  1755924.0
1     OKL         PGK         3606            4.78  1949041.0
2     PDG         TTE         3563            4.29  1799704.0
3     UGU         AAP         3224            4.17  1851303.0
4     BDO         LWE         3145            3.87  1783238.0
5     AGD         PSJ         3124            3.83  1861812.0
6     SOQ         KBF         3020            3.77  1719858.0
7     PWL         GTO         2936            3.70  1874322.0
8     LBJ         MTW         2353            3.01  2017746.0
9     KNO         KEQ         2323            2.96  1806423.5
10    LKA         LOP         2232            2.86  1762442.0
11    LBW         NAM         2053            2.63  1956589.0
12    INX         MKF         2011            2.59  2145722.0
13    SRG         WNI         1941            2.33  1792677.0
14    WGP         SHE         1765            2.26  1763978.0
15    SEQ         KSR         1470            1.91  1805833.0
16    KOX         BDO         1387            1.71  1810062.0

#### Execution Time

In [51]:
import pandas as pd

combined_index_time = pd.DataFrame({
    "Waktu Query (ms)": [total_time_ms_before, total_time_ms_after],
    "Keterangan": ["Sebelum Indexing", "Setelah Indexing"]
})
combined_index_time["Waktu Query (ms)"] = combined_index_time["Waktu Query (ms)"].apply(lambda x: f"{x:.2f} ms")
print("\nWaktu Query Kombinasi Sebelum dan Setelah Indexing:")
display(combined_index_time)

Waktu Query Kombinasi Sebelum dan Setelah Indexing:

  Waktu Query (ms)        Keterangan
0      24011.10 ms  Sebelum Indexing
1        228.65 ms  Setelah Indexing